<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title><%= title  %></title>
    <%- include('../partials/head.html') %>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="css/colors.css" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="css/version/tech.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <%- include('../partials/navigation.html', {data: usr}) %>
    <br><br><br>
    <div id="wrapper">
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 ">
                        <div class="page-wrapper">
                            <div class="blog-grid-system">
                                <div class="row">
                                    
                                    
                                    <% if(usr==null || usr==''){ %><!-- **************************************************************** NO LOGEADO -->


                                        <% carros.forEach(function(carr) { %>
                                            <div class="col-md-6">
                                                <div class="blog-box">
    

                                                    <% if(carr.estado==3){ %><!-- **************************************** SI ES SUBASTABLE -->


                                                        <!-- IMAGEN -->
                                                        <div class="post-media">
                                                            <a href="#" title="">
                                                                <img src="<%- carr.imagen %>" alt="" class="img-fluid animated bounceIn">
                                                            </a>
                                                        </div>
        

                                                        <!-- DATA -->
                                                        <div class="blog-meta big-meta"> <br>


                                                            <!-- BOTON -->
                                                            <button type="button" class="btn btn-success" onclick="Mensaje()">
                                                                <i class="fas fa-thumbs-up"></i>+1000 
                                                            </button>
                                                            <button type="button" class="btn btn-success" onclick="Mensaje()">
                                                                <i class="far fa-hand-point-up"></i>+500
                                                            </button><br><br><br><br>


                                                            <!-- TITULO -->
                                                            <h3><a href="#" title=""> <%- carr.id  %> - <%- carr.marca  %> <%- carr.linea  %> <%- carr.modelo  %> <br></a></h3>


                                                            <!-- PRECIO -->
                                                            <h4><p> VALOR ACTUAL: Q. <%- carr.valor_adjudicacion %>
                                                            </p></h4>


                                                            <!-- INFORMACION EXTRA -->
                                                            <h6><p> 
                                                                Vehiculo: <%- carr.marca  %> <%- carr.linea  %> <%- carr.modelo  %> <br>
                                                                PLACA: <%- carr.placa %> <br>
                                                                COLOR: <%- carr.color %> <br>
                                                                <%var arr = carr.arranca == true ? 'Si' : 'No' %>
                                                                ARRANCA: <%- arr %> <br>
                                                                <%var cam = carr.camina == true ? 'Si' : 'No' %>
                                                                Camina: <%- cam %> <br>
                                                                <%var falla = carr.falla_mecanica == true ? 'Si' : 'No' %>
                                                                FALLA MECANICA: <%- falla %> <br>
                                                                <%var gar = carr.garantica_inspeccion == true ? 'Si' : 'No' %>
                                                                GARANTIA DE INSPECCION: <%- gar %> <br>
                                                                <%var inun = carr.inundado == true ? 'Si' : 'No' %>
                                                                INUNDADO: <%- inun %> <br>
                                                                <%var col = carr.colision == true ? 'Si' : 'No' %>
                                                                COLICION: <%- col %>
                                                            </p></h6>


                                                            <br>
                                                        </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        <% }) %>



                                    <% }else{ %><!-- ************************************************************************************** LOGEADO -->



                                        <% carros.forEach(function(carr) { %>
                                            <div class="col-md-6">
                                                <div class="blog-box">


                                                    <% if(carr.estado==3){ %><!-- **************************************** SI ES SUBASTABLE -->
    

                                                        <!-- IMAGEN -->
                                                        <div class="post-media">
                                                            <a href="#" title="">
                                                                <img src="<%- carr.imagen %>" alt="" class="img-fluid animated bounceIn">
                                                            </a>
                                                        </div>
        

                                                        <!-- DATA -->
                                                        <div class="blog-meta big-meta"> <br>


                                                            <!-- BOTON -->
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-sm-3"> 
                                                                        <form action="/Vehiculoput" method="POST">
                                                                            <input type="hidden" name="jwt" value="AsE445RdwERE">
                                                                            <input type="hidden" name="id" value="<%- carr.id  %>">
                                                                            <input type="hidden" name="email" value="<%- usr  %>">
                                                                            <input type="hidden" name="tipo" value="C">
                                                                            <button type="submit" class="btn btn-success">
                                                                                <i class="fas fa-thumbs-up"></i>+1000
                                                                            </button>
                                                                        </form>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <form action="/Vehiculoput" method="POST">
                                                                            <input type="hidden" name="id" value="<%- carr.id  %>">
                                                                            <input type="hidden" name="email" value="<%- usr  %>">
                                                                            <input type="hidden" name="tipo" value="M">
                                                                            <button type="submit" class="btn btn-success"><!-- onclick="location.href='/puja?t=M&v=<%- carr.id  %></button>'" -->
                                                                                <i class="far fa-hand-point-up"></i>+500
                                                                            </button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>


                                                            <!-- TITULO -->
                                                            <h3><a href="#" title=""> <%- carr.id  %> - <%- carr.marca  %> <%- carr.linea  %> <%- carr.modelo  %> <br></a></h3>


                                                            <!-- PRECIO Y AFILIADO-->
                                                            <h4><p> VALOR ACTUAL: Q. <%- carr.valor_adjudicacion %>
                                                            </p></h4>
                                                            <h5><p> AFILIADO ADJUDICADO: <%- carr.afiliado_adjudicado %>
                                                            </p></h5>

                                                            <!-- INFORMACION EXTRA -->
                                                            <h6><p> 
                                                                Vehiculo: <%- carr.marca  %> <%- carr.linea  %> <%- carr.modelo  %> <br>
                                                                PLACA: <%- carr.placa %> <br>
                                                                COLOR: <%- carr.color %> <br>
                                                                <%var arr = carr.arranca == true ? 'Si' : 'No' %>
                                                                ARRANCA: <%- arr %> <br>
                                                                <%var cam = carr.camina == true ? 'Si' : 'No' %>
                                                                Camina: <%- cam %> <br>
                                                                <%var falla = carr.falla_mecanica == true ? 'Si' : 'No' %>
                                                                FALLA MECANICA: <%- falla %> <br>
                                                                <%var gar = carr.garantica_inspeccion == true ? 'Si' : 'No' %>
                                                                GARANTIA DE INSPECCION: <%- gar %> <br>
                                                                <%var inun = carr.inundado == true ? 'Si' : 'No' %>
                                                                INUNDADO: <%- inun %> <br>
                                                                <%var col = carr.colision == true ? 'Si' : 'No' %>
                                                                COLICION: <%- col %>
                                                            </p></h6>


                                                            <br>
                                                        </div><!-- end meta -->

                                                    <% } %>    
                                                </div><!-- end blog-box -->
                                            </div><!-- end col -->
                                        <% }) %>
                                    <% } %>

                                    
                                    
                                </div>
                            </div>
                        </div>            
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <br><br><br><br>
        <p>Software Avanzado GP2</p>

        
                   


        
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
        function Mensaje(){
            alert('Autenticate para poder hacer pujas')
        }

        function PujarC(){
            var textdiv = document.getElementById("tipoo");
            textdiv.value = 'C'
            document.forms["hacer_puja_frm"].submit();
        }
        function PujarM(){
            var textdiv = document.getElementById("tipoo");
            textdiv.value = 'M'
            document.forms["hacer_puja_frm"].submit();
        }
    </script>

</body>
</html>