body {

    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #121212);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(15, 158, 15), #121212c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
footer {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    
  }