<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <%- include('./partials/head.html') %>
</head>
<body>
    <%- include('./partials/navigation.html', {data: nombre}) %>
    <br><br><br>
<div class="container">


    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        
        <div class="col-sm-6">
            <div class="well">
                
                <h1><span class="fa fa-user"></span> Local</h1>

                <% if (user.local.codigo) { %>
                    <h2><p>
                        <strong>codigo</strong>: <%= user.local.codigo %><br>
                        <strong>nombre</strong>: <%= user.local.nombre %><br>
                        <strong>vigente</strong>: <%= user.local.vigente %>
                    </p></h2>
                    
                    <a href="/unlink/local" class="btn btn-warning">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-warning">Connect Local</a>
                <% } %>

            </div>
        </div>


        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h1 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h1>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.id) { %>
                    <h3><p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                    </p></h3>
                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>
    </div>


    <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h1 class="text-info"><span class="fa fa-twitter"></span> Twitter</h1>

                <% if (user.twitter.id) { %>
                    <h3><p>
                        <strong>id</strong>: <%= user.twitter.id %><br>
                        <strong>display name</strong>: <%= user.twitter.displayName %><br>
                        <strong>username</strong>: <%= user.twitter.username %>
                    </p></h3>
                    <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>

            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h1 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h1>

                <% if (user.google.id) { %>
                    <h3><p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p></h3>
                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>

</div>
</body>
</html>