<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Subasta en Linea</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fas fa-home"></i> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-car"></i> Subasta </a>
                </li>
                <% if(data==null || data==''){ %><!-- DESLOGEADO -->
                <li class="nav-item">
                    <a class="nav-link" href="/logear"><i class="fas fa-user"></i> Sign in </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup"><i class="fas fa-user-plus"></i></i> Sign Up </a>
                </li>
                <% }else{ %><!-- LOGEADO -->
                    <li class="nav-item">
                        <a class="nav-link" href="/perfil"><i class="fas fa-user"></i> <%- data %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Salir </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>